# List

lst=['amit',21,5.4]

In [2]:
lst

['amit', 21, 5.4]

In [3]:
#append
lst.append('amit')

In [4]:
lst

['amit', 21, 5.4, 'amit']

In [5]:
#copy
lst1=lst.copy()

In [6]:
lst1

['amit', 21, 5.4, 'amit']

In [7]:
#clear
lst1.clear()

In [8]:
lst1

[]

In [9]:
#count
lst.count('amit')

2

In [10]:
lst1=['jadhav']

In [11]:
#extend
lst.extend(lst1)

In [12]:
lst

['amit', 21, 5.4, 'amit', 'jadhav']

In [13]:
#index
lst.index('amit')

0

In [14]:
#insert
lst.insert(2,5)

In [15]:
lst

['amit', 21, 5, 5.4, 'amit', 'jadhav']

In [16]:
#pop
lst.pop()

'jadhav'

In [17]:
lst

['amit', 21, 5, 5.4, 'amit']

In [18]:
#remove
lst.remove(5)

In [19]:
lst

['amit', 21, 5.4, 'amit']

In [20]:
#reverse
lst.reverse()

In [21]:
lst

['amit', 5.4, 21, 'amit']

In [23]:
lst2=[3,43,3,87,4]

In [24]:
#sort
lst2.sort()

In [25]:
lst2

[3, 3, 4, 43, 87]

# Dictionary

In [26]:
dit={"name":"Amit","age":20,"number":123456789}

In [27]:
dit

{'name': 'Amit', 'age': 20, 'number': 123456789}

In [28]:
#copy
dit1=dit.copy()

In [29]:
dit1

{'name': 'Amit', 'age': 20, 'number': 123456789}

In [30]:
#clear
dit1.clear()

In [31]:
dit1

{}

In [34]:
#fromkeys
keyy=dict.fromkeys(dit)

In [35]:
keyy

{'name': None, 'age': None, 'number': None}

In [37]:
#get
dit.get('name')

'Amit'

In [38]:
#items
x=dit.items()

In [39]:
x

dict_items([('name', 'Amit'), ('age', 20), ('number', 123456789)])

In [40]:
#keys
dit.keys()

dict_keys(['name', 'age', 'number'])

In [42]:
#pop
dit.pop('number')

123456789

In [43]:
dit

{'name': 'Amit', 'age': 20}

In [45]:
#popitem
dit.popitem()

('age', 20)

In [46]:
dit

{'name': 'Amit'}

In [47]:
#setdefault
dit.setdefault('school','jgi')

'jgi'

In [58]:
dit1

{'sex': 'male'}

In [64]:
dit={'name': 'Amit', 'age': 20, 'number': 123456789}

In [68]:
dit.update({'sex':'male'})

In [69]:
dit

{'name': 'Amit', 'age': 20, 'number': 123456789, 'sex': 'male'}

In [70]:
y=dit.values()

In [71]:
y

dict_values(['Amit', 20, 123456789, 'male'])

# Sets

In [72]:
st={'amit','jadhav',3,5,2}

In [73]:
st

{2, 3, 5, 'amit', 'jadhav'}

In [74]:
#add
st.add(8)

In [75]:
st

{2, 3, 5, 8, 'amit', 'jadhav'}

In [76]:
#copy
st1=st.copy()

In [77]:
st1

{2, 3, 5, 8, 'amit', 'jadhav'}

In [78]:
#clear
st1.clear()

In [79]:
st1

set()

In [80]:
st1={'amit',2,7}

In [81]:
#difference
st.difference(st1)

{3, 5, 8, 'jadhav'}

In [82]:
#difference_update
st.difference_update(st1)

In [83]:
st

{3, 5, 8, 'jadhav'}

In [84]:
#discard
st.discard(3)

In [85]:
st

{5, 8, 'jadhav'}

In [87]:
st.add('amit')

In [88]:
#intersection
x=st.intersection(st1)

In [89]:
x

{'amit'}

In [90]:
st

{5, 8, 'amit', 'jadhav'}

In [91]:
#intersection_update
st.intersection_update(st1)

In [92]:
st

{'amit'}

In [93]:
st.add(5)

In [94]:
st.add('amit')

In [95]:
st.add(2)

In [96]:
#isdisjoint
y=st.isdisjoint(st1)

In [97]:
y

False

In [98]:
#issubset
st.issubset(st1)

False

In [99]:
#issuperset
st.issuperset(st1)

False

In [101]:
#pop
st.pop()

'amit'

In [102]:
st

{2, 5}

In [103]:
#remove
st.remove(5)

In [104]:
st

{2}

In [105]:
#symmetric_difference
z=st.symmetric_difference(st1)

In [106]:
z

{7, 'amit'}

In [107]:
#symmetric_difference_update
st.symmetric_difference_update(st1)

In [108]:
st

{7, 'amit'}

In [109]:
#union
z=st.union(st1)

In [110]:
z

{2, 7, 'amit'}

In [111]:
#update
st.update(st1)

In [112]:
st

{2, 7, 'amit'}

# Tuple

In [115]:
tup=('amit','jadhav',2708,'amit')

In [116]:
tup

('amit', 'jadhav', 2708, 'amit')

In [117]:
tup.count('amit')

2

In [118]:
tup.index('jadhav')

1

# String

In [121]:
name='amit'

In [122]:
name

'amit'

In [123]:
#capitalize
name.capitalize()

'Amit'

In [124]:
#casefold
name.casefold()

'amit'

In [125]:
#center
x=name.center(20)

In [126]:
x

'        amit        '

In [127]:
#count
x=name.count('m')

In [128]:
x

1

In [129]:
#encode
x=name.encode()

In [130]:
x

b'amit'

In [132]:
#endswith
x=name.endswith('t')

In [138]:
x

'amit'

In [139]:
name1='a\tm\ti\tt'

In [140]:
#expandtabs
x=name1.expandtabs(10)

In [141]:
x

'a         m         i         t'

In [144]:
#find
x=name.find('i')

In [146]:
x

2

In [147]:
name1="Amit {}"

In [148]:
#format
name1.format("Jadhav")

'Amit Jadhav'

In [149]:
a={'x':'My','y':'Jadhav'}

In [153]:
#format_map
"{x} name is Amit {y}".format_map(a)

'My name is Amit Jadhav'

In [155]:
#index
x=name.index("t")

In [156]:
x

3

In [157]:
#isalnum
x=name.isalnum()

In [158]:
x

True

In [159]:
#isalpha
x=name.isalpha()

In [160]:
x

True

In [161]:
#isascii
x=name.isascii()

In [162]:
x

True

In [163]:
#isdecimal
x=name.isdecimal()

In [164]:
x

False

In [165]:
#isdigit
x=name.isdigit()

In [166]:
x

False

In [167]:
#isidentifier
x=name.isidentifier()

In [168]:
x

True

In [169]:
#islower
x=name.islower()

In [170]:
x

True

In [171]:
name

'amit'

In [172]:
#isnumeric
x=name.isnumeric()

In [173]:
x

False

In [174]:
#isprintable
x=name.isprintable()

In [175]:
x

True

In [176]:
#isspace
x=name.isspace()

In [177]:
x

False

In [178]:
#istitle
x=name.istitle()

In [179]:
x

False

In [180]:
#isupper
x=name.isupper()

In [181]:
x

False

In [182]:
a="_"
seq=("Amit","Jadhav")

In [183]:
#join
a.join(seq)

'Amit_Jadhav'

In [209]:
#ljust
name.ljust(20) + " is my name"

'amit                 is my name'

In [188]:
#lower
name.lower()

'amit'

In [189]:
name1=name.center(20)

In [190]:
name1

'        amit        '

In [191]:
#lstrip
name1.lstrip()

'amit        '

In [197]:
#maketrans
name2=name.maketrans("a","A")

In [198]:
#translate
print(name.translate(name2))

Amit

In [200]:
#partition
x=name1.partition('amit')

In [201]:
x

('        ', 'amit', '        ')

In [202]:
#replace
x=name.replace('a','A')

In [203]:
x

'Amit'

In [204]:
#rfind
x=name.rfind('t')

In [205]:
x

3

In [206]:
#rindex
x=name.rindex('t')

In [207]:
x

3

In [210]:
#rjust
name.rjust(20) + " is my name"

'                amit is my name'

In [211]:
#rpartition
x=name1.rpartition(" ")

In [212]:
x

('        amit       ', ' ', '')

In [213]:
#rsplit
x=name.rsplit('i')

In [214]:
x

['am', 't']